.title {
  margin: 2rem 0;
}

button {
  cursor: pointer;
}

button,
input {
  font-family: inherit;
  font-size: inherit;
}

.filter-todos {
  margin: 1rem 0rem;
}

.filter-select {
  font-family: inherit;
  font-size: inherit;
}

.todo-list {
  margin: 3rem 0;
}
